PORT=4000

DB_USER=sa
DB_PASSWORD=your_sql_password
DB_SERVER=DESKTOP-QI1TR1K
DB_INSTANCE=SQLEXPRESS02
DB_DATABASE=BizPracDB
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET=replace_with_a_long_random_secret
